
{% extends 'base.html' %}

{% block header %}
    
<title>list</title>
<style>
div.border-dark:hover { 
    background-color: #e0e0e0;
}
a.navbar-brand:hover{
    background-color: #e0e0e0;
}
h5,p {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; 
  /* width: 600px;
  height: 40px; */
}
</style>

{% endblock %}

{% block content %}

<!-- <h1 class="my-3">Hello, world!</h1> -->
<div class="d-flex justify-content-end py-3">
    <a class="btn btn-info" href="write/" role="button"><i>Write</i></a>
</div>

<!-- 게시글 -->
{% for post in posts %}
<div style=" cursor: pointer;" onclick="location.href='/read/{{post.number}}';" class="p-3 border border-dark rounded my-1">
    <h5 class="">{{ post.title }}</h5>
    <p class="py-0">{{ post.contents }}</p>
    <p class="py-0"><small class="text-muted"><i>{{ post.time }}</i></small></p>
</div>

{% endfor %}



<!-- Pagination --> <!-- 한 화면에 5개씩만 출력한다 -->
<div class="d-flex justify-content-center mt-3 pt-3">
<nav aria-label="Page navigation example ">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="/page/{{page_n.0}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% for n in page_n %}
    <li class="page-item"><a class="page-link" href="/page/{{n}}">{{ n }}</a></li>
    {% endfor %}

    <li class="page-item">
      <a class="page-link" href="/page/{{page_n.2}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>
{% endblock %}


