{% extends 'base.html' %}

{% block header %}
    
    <title>read</title>

{% endblock %}

{% block content %}

<div class="d-flex justify-content-end py-3">
        <a class="btn btn-primary" href="/write/{{ post.number }}" role="button">수정</a>
        <button data-toggle="modal" data-target="#exampleModal" type="button" class="mx-1 btn btn-danger">삭제</button>
</div>
    
<h1 class="my-3">{{ post.title }}</h1>
<p class="my-4 text-right" style="font-size:1.1rem;"><i>{{ post.time }}</i></p>
<p id="iamp" class="my-4 " style="font-size:1.5rem;">{{ post.contents }}</p>
<script>
var str = document.getElementById("iamp").innerHTML;
str = str.replace(/(?:\r\n|\r|\n)/g, '<br />');
document.getElementById("iamp").innerHTML = str;
</script>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i>삭제하시겠습니까?</i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
<!--                 <div class="modal-body">
                ...
                </div>
-->             <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <a class="btn btn-primary" href="/delete/{{ post.number }}" role="button">확인</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


